*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// CSS variables
:root {
  --cl-background: hsl(235, 16%, 14%);
  --cl-text-primary: hsl(0, 0%, 100%);
  --cl-text-accent: hsl(345, 95%, 68%);
  --cl-text-secondary: hsl(237, 18%, 59%);
  --cl-card: hsl(236, 21%, 26%);
}

#root {
  display: grid;
  align-items: center;
  justify-items: center;
  min-height: 100vh;
  padding: 8.875rem 2rem 3rem 2rem;
  background: url("./images/bg-stars.svg"), url("./images/pattern-hills.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}
body {
  font-family: "Red Hat Text", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--cl-background);
}

.header {
  margin-bottom: auto;

  &__title {
    color: var(--cl-text-primary);
    text-transform: uppercase;
    font-size: 1.125rem;
    letter-spacing: 6px;
    text-align: center;

    @media screen and (min-width: 770px) {
      font-size: 1.375rem;
    }
  }
}

.footer {
  margin-top: auto;
}

.main {
  display: flex;
  justify-content: center;
  width: 100%;

  .timetable {
    display: flex;
    width: inherit;
    text-align: center;

    gap: 1rem;
    max-width: 30rem;

    @media screen and (min-width: 770px) {
      max-width: 43rem;
      gap: 2rem;
    }

    &__item {
      width: 100%;

      min-width: 4.3rem;
      max-width: 9.25rem;
      position: relative;
      border-radius: 4px;
    }

    &__card {
      display: flex;
      justify-content: center;
      align-items: center;
      aspect-ratio: 1;
      position: relative;
      background-color: var(--cl-card);
      color: var(--cl-text-accent);
      font-size: 2rem;
      padding: 1rem;

      &::before {
        content: "";
        width: 100%;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.25);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      @media screen and (min-width: 770px) {
        font-size: 5rem;
        padding: 1.5rem;
        border-radius: 8px;
      }

      &--top {
        width: 100%;
        height: 50%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.15);
        &::before,
        &::after {
          content: "";
          width: 0.5rem;
          aspect-ratio: 1;
          border-radius: 50%;
          background-color: #191a23;
          position: absolute;
          bottom: -3px;

          @media screen and (min-width: 770px) {
            width: 0.75rem;
            bottom: -5px;
          }
        }

        &::before {
          left: -3px;

          @media screen and (min-width: 770px) {
            left: -5px;
          }
        }

        &::after {
          right: -3px;

          @media screen and (min-width: 770px) {
            right: -5px;
          }
        }
      }
    }

    &__label {
      text-transform: uppercase;
      color: var(--cl-text-secondary);
      // bottom: -1rem;
      // left: 0.5rem;
      // position: absolute;
      font-size: 0.5rem;
      margin-top: 0.5rem;
      letter-spacing: 3px;

      @media screen and (min-width: 770px) {
        font-size: 0.875rem;
      }
    }
  }
}

.socials {
  display: flex;
  gap: 2rem;

  &__link {
    color: var(--cl-text-secondary);
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      color: var(--cl-text-accent);
    }
  }

  &__icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}
